{% extends 'base.html' %}
{% block title %}Escalonamento{% endblock title %}
{% block content %}
  <div class="container">
    <h2>Escalonamento > {{ group.name }}</h2>

    <div class="d-flex mb-3">
      <a href="{% url 'create_escalation' group_id=group.id %} " class="btn btn-primary">Adicionar Escalonamento</a>
    </div>

    <table id="escalationTable" class="table table-striped">

      {% if message %}
      <tr>
        <td colspan="2">{{ message }}</td>
      </tr>
    {% else %}
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cargo</th>
          <th>Área</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Nível</th>
          <th>Serviço</th>
        </tr>
      </thead>
      <tbody>
          {% for item in escalation %}
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.position }}</td>
              <td>{{ item.area }}</td>
              <td><a href="mailto:{{ item.email }}">{{ item.email }}</a></td>
              <td>{{ item.phone }}</td>
              <td>{{ item.level }}</td>
              <td>{{ item.service }}</td>
              <td><button type="button" class="btn btn-primary">Editar</button></td>
            </tr>
          {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>

{% endblock %}
