{% extends 'base.html' %}
{% block title %}Escalonamento{% endblock title %}
{% block content %}
<div class="container">
  <br>
  <h2>Escalonamento > {{ group.name }}</h2>


  {% if user.is_superuser or user.is_staff  %}
    <div class="d-flex mb-3">
      <a href="{% url 'create_escalation' group_id=group.id %} " class="btn btn-primary">Adicionar Escalonamento</a>
    </div>
    {% else %}
    <br>
  {% endif %}
 
    <div id="datetime-display" class="container mt-3" style="display: none;">
      <div class="alert alert-info" role="alert">
          <p id="datetime-info" class="mb-0"></p>
      </div>
    </div>
  <table id="escalationTable" class="table table-striped">
    {% if message %}
      <tr>
        <td colspan="7">{{ message }}</td>
      </tr>
    {% else %}
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cargo</th>
          <th>Área</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Nível</th>
          <th>Serviço</th>
          {% if user.is_superuser or user.is_staff  %}
            <th>Ações</th>
          {% endif %}
          <th>Usou?</th>
          
        </tr>
      </thead>
      <tbody>
        {% for item in escalation %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.position }}</td>
            <td>{{ item.area }}</td>
            <td><a href="mailto:{{ item.email }}">{{ item.email }}</a></td>
            <td>{{ item.phone }}</td>
            <td>{{ item.level }}</td>
            <td>{{ item.service }}</td>
            {% if user.is_superuser or user.is_staff  %}
            <td>
              <button type="button" class="btn btn-primary edit-btn" data-toggle="modal" data-target="#exampleModal" data-id="{{ item.id }}" data-name="{{ item.name }}" data-position="{{ item.position }}" data-area="{{ item.area }}" data-email="{{ item.email }}" data-phone="{{ item.phone }}" data-level="{{ item.level }}" data-service="{{ item.service }}">Editar</button>
            </td>

            {% endif %}
            <td>
              <input type="checkbox" class="escalation-checkbox" data-escalation-id="{{ item.id }}" onclick="updateIsUsed(this)">
            </td>
        {% endfor %}
      </tbody>
    {% endif %}
  </table>
</div>

<!-- Modal de Edição -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Escalonamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}

          <div id="message" style="display: none;"></div>

          <input type="hidden" id="inp_id" value="">
          <div class="form-group">
            <label for="inp_name" class="col-form-label">Nome:</label>
            <input type="text" class="form-control" id="inp_name" name="name">
          </div>
          <div class="form-group">
            <label for="inp_position" class="col-form-label">Cargo:</label>
            <input type="text" class="form-control" id="inp_position" name="position">
          </div>
          <div class="form-group">
            <label for="inp_area" class="col-form-label">Área:</label>
            <input type="text" class="form-control" id="inp_area" name="area">
          </div>
          <div class="form-group">
            <label for="inp_email" class="col-form-label">Email:</label>
            <input type="email" class="form-control" id="inp_email" name="email">
          </div>
          <div class="form-group">
            <label for="inp_phone" class="col-form-label">Telefone:</label>
            <input type="text" class="form-control" id="inp_phone" name="phone">
          </div>
          <div class="form-group">
            <label for="inp_level" class="col-form-label">Nível:</label>
            <input type="text" class="form-control" id="inp_level" name="level">
          </div>
          <div class="form-group">
            <label for="inp_service" class="col-form-label">Serviço:</label>
            <input type="text" class="form-control" id="inp_service" name="service">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" id="btnSalvarAlteracoes">Salvar Alterações</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
    var params = {}; 

  
    $('.edit-btn').on('click', function() {
      $('#exampleModal #inp_id').val($(this).data('id'));
      $('#exampleModal #inp_name').val($(this).data('name'));
      $('#exampleModal #inp_position').val($(this).data('position'));
      $('#exampleModal #inp_area').val($(this).data('area'));
      $('#exampleModal #inp_email').val($(this).data('email'));
      $('#exampleModal #inp_phone').val($(this).data('phone'));
      $('#exampleModal #inp_level').val($(this).data('level'));
      $('#exampleModal #inp_service').val($(this).data('service'));

      
      params.id = $(this).data('id');
      params.name = $(this).data('name');
      params.position = $(this).data('position');
      params.area = $(this).data('area');
      params.email = $(this).data('email');
      params.phone = $(this).data('phone');
      params.level = $(this).data('level');
      params.service = $(this).data('service');
    });

  
    $('#btnSalvarAlteracoes').on('click', async function() {

      const group_id = "{{ group.id }}";
      console.log(group_id)

      try {
        const data = {
          id: $('#exampleModal #inp_id').val(),
          name: $('#exampleModal #inp_name').val(),
          position: $('#exampleModal #inp_position').val(),
          area: $('#exampleModal #inp_area').val(),
          email: $('#exampleModal #inp_email').val(),
          phone: $('#exampleModal #inp_phone').val(),
          level: $('#exampleModal #inp_level').val(),
          service: $('#exampleModal #inp_service').val(),
          group_id: group_id
        };

        const response = await fetch("../../../update_escalation/", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken 
          },
          body: JSON.stringify(data)
        });

        const result = await response.json()
        const message = document.getElementById('message');
        const alertDiv = document.createElement('div');

        if (response.ok) {
          alertDiv.className = 'alert alert-success';
          alertDiv.role = 'alert';
          alertDiv.style.width = '100%';
          alertDiv.textContent = `Escalanomento editado com sucesso!`;
          
          message.append(alertDiv);
          message.style.display = 'flex';
          
          setTimeout(() => {
            window.location.href = result.url;
          }, 2000);

        } else {

            if(response.status === 409){

              alertDiv.className = 'alert alert-danger';
              alertDiv.role = 'alert';
              alertDiv.style.width = '100%';
              alertDiv.textContent = result.error;
              
              message.append(alertDiv);
              message.style.display = 'flex';
            
              setTimeout(() => {
                message.removeChild(alertDiv)
              }, 2000);
            }
          console.error('Falha ao atualizar dados:', response.status);
        }
      } catch (error) {
        console.error('Erro:', error);
      }
    });
  });

  const showMessage = (msg, duration) => {
    const message = document.getElementById('message');
    message.innerHTML = msg;
    message.style.display = 'flex';
    
    setTimeout(() => {
      message.style.display = 'none';
    }, duration);
  }
  
  function updateIsUsed(checkbox) {
    var escalation_id = $(checkbox).data('escalation-id');
    console.log('Escalation ID:', escalation_id); 
    if (checkbox.checked) {
        $.ajax({
            url: "{% url 'is_used' %}",
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            data: JSON.stringify({ 
                is_used: true,
                escalation_id: escalation_id 
            }),
            success: function(response) {
                console.log('Checkbox atualizado com sucesso');
                console.log('Data e hora:', response.datetime);

                $('#datetime-info').text('Escalonamento usado às: ' + response.datetime);
                $('#datetime-display').show(); 
                setTimeout(function() {
                  window.location.reload();
                }, 3000);
            },
            error: function(error) {
                console.error('Erro ao atualizar checkbox:', error);
                window.location.reload()
            }
        });
    }
}
</script>
{% endblock %}

