{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Tabela de Dados</h1>
  <div class="d-flex mb-3"> 
    <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar..." style="max-width: 200px;">   
    <button id="addButton" class="btn btn-primary">Adicionar</button>
  </div>

  <table id="dataTable" class="table table-striped">
    <thead>
      <tr>
        <th>Empresa</th>
        <th>Estado</th> 
      </tr>
    </thead>
    <tbody>
      {% for group, state in group_states.items %}
      <tr>
        <td><a href="{% url 'escalation' group_id=group.id user_id=request.user.id %}">{{ group }}</a></td> 
        <td class="{% if state == 'Permitido' %} bg-success {% elif state == 'Permissão pendente' %} bg-warning {% elif state == 'Não pediu permissão' %} bg-danger {% endif %}">{{ state }}</td> 
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar Nova Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" id="newGroupName" class="form-control" placeholder="Nome da Empresa">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" id="saveGroup">Salvar</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("addButton").addEventListener("click", function() {
    $('#myModal').modal('show');
  });

  document.getElementById("saveGroup").addEventListener("click", function() {
    var newGroupName = document.getElementById("newGroupName").value;
    $.ajax({
      type: "POST",
      url: "{% url 'save_group' %}",
      data: {
        group_name: newGroupName,
        csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      success: function(data) {
        window.location.reload();
      },
      error: function(xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText); 
      }
    });
  });
</script>
{% endblock %}
