{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>Tabela de Dados</h1>
  <div class="d-flex mb-3"> 
    <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar..." style="max-width: 200px;">    <button id="addButton" class="btn btn-primary">Adicionar</button>
  </div>

  <table id="dataTable" class="table table-striped">
    <thead>
      <tr>
        <th>Empresa</th>
        <th>Estado</th> 
      </tr>
    </thead>
    <tbody>
      {% for group, state in group_states.items %}
      <tr>
        <td><a href="{% url 'escalation' group_id=group.id user_id=request.user.id %}">{{ group }}</a></td> 
        <td class="{% if state == 'Permitido' %} bg-success {% elif state == 'Permissão pendente' %} bg-warning {% elif state == 'Não pediu permissão' %} bg-danger {% endif %}">{{ state }}</td> 
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
