{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
      .btn {
        background-color: #073958;
        border: none;
        margin-top: 5px;
        padding-bottom: 7px;
        text-align: center;
        align-items: center;
        line-height: 20px;
    }
 
    button {
        display: flex;
        text-align: center;
        align-items: center;
    }
 
    .btn:hover {
        background-color: #022c46;
    }
 
    .container {
        padding-top: 2px;
    }
 
    .form-group {
        height: 8vh;
        font-size: 15px;
    }
 
    h2 {
        color: #073958;
    }
 
    .logoAtosDeveloped {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 10px;
        margin-right: 25px;
        width: 80px;
    }
 
    .entrarCadastro {
        background-color: white;
        border: none;
    }
 
    .entrarCadastro:hover {
        color: white;
        background-color: #022c46;
    }
 
    label {
        color: #073958;
        top: 5px;
        position: relative;
    }
 
    .form-control {
        display: inline-block;
        position: relative;
    }
 
    .form-control>input {
        padding: 10px 5px;
    }
 
    .senha {
        top: 63.5%;
        position: absolute;
        right: 7%;
        width: 22px;
        cursor: pointer;
        display: none;
    }
 
    .btn1 {
        border-radius: 5px;
        transition: ease-in-out 0.3s;
        width: 100px;
        height: 30px;
        text-decoration: none;
        color: #073958
    }
 
    .btn1>a {
        display: flex;
        text-align: center;
        text-decoration: none;
        color: #073958;
    }
 
    .btn1:hover {
        background-color: white;
        color: white;
    }
 
    .entreNegrito {
        font-weight: bold;
        cursor: pointer;
        color: #073958
    }
   
    .entreNegrito>a{
        color: #073958;
        text-decoration: none;
    }
</style>
<div class="mt-4 container">
    <div class="geral row justify-content-center">
        <div class="col-md-4">
            <h2 class="mt-5 text-center titulo">Login</h2>
            <form method="POST" action={%url 'login'%}>
                {% csrf_token %}
                <div class="form-group mt-4 mb-4">
                    <label for="nome" class="d-block">E-mail:</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="form-group mb-4">
                    <label for="senha" class="d-block" id="senha" >Senha:</label>
                    <input type="password" class="form-control" id="senha" name="senha">
                    <img src="{% static 'assets/eye (1).png' %}" onclick="verSenha()" class="senha img-fluid" id="senhaC">
                </div>
                <button type="submit" class="mt-3 w-100 btn btn-primary" >Login</button>
            </form>
            <div class="text-center fraseEntrar mt-1">
                <p>Ainda não tem uma conta? <span class="entreNegrito"
                        style="font-weight: bold; cursor: pointer; color: #073958"><a href={% url "register" %}>Cadastre-se!</a></span></p>
            </div>
        </div>
    </div>
</div>
<div class="logoAtosDeveloped text-center mt-5">
    <img src="{% static 'assets/image (1).png' %}">
</div>
<script>
    var a;
      function verSenha() {
          if (a == 1) {
              document.getElementById('senha').type = 'password';
              document.getElementById('senhaC').src = './elements/eye (1).png';
              a = 0;
          } else {
              document.getElementById('senha').type = 'text';
              document.getElementById('senhaC').src = './elements/eye.png';
              a = 1;
          }
      }
 
      document.getElementById('senha').addEventListener('input', function() {
          var senha = document.getElementById('senha').value;
          var senhaIcone = document.getElementById('senhaC');
 
          if (senha === '') {
              senhaIcone.style.display = 'none';
          } else {
              senhaIcone.style.display = 'inline-block';
          }
      });
  </script>
{% endblock content %}