{% extends 'base.html' %}
{% block title %}
  Gerenciamento
{% endblock %}
{% block style %}
  <style>
    .card-users {
      display: flex;
      flex-direction: column;
      background-color: rgba(7, 57, 88, 0.09);
      width: 250px;
      height: 200px;
      justify-content: center;
      align-items: center;
      transition: height 0.3s;
      border-radius: 5px;
    }
    
    .container-user {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      gap: 30px;
    }
    
    .btn-fechar {
      margin-top: 20px;
      background-color: #073958;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
    }
    
    .btn-fechar:hover {
      background-color: #055070;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Controle de acesso</h1>
    <div class="d-flex mb-3">
      <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar..." style="max-width: 200px;" />
    </div>

    <div class="alert alert-info ml-3" role="alert" id="message" style="display: none;"></div>

    <div class="container-user" id="cardUser">
      {% for user in users %}
        <div class="card-users collapsed" data-id="{{ user.id }}">
          <i class="bi bi-person-fill" style="font-size: 40px; color: #073958;"></i>
          <h4>{{ user.name }}</h4> 
          <button class="btn-fechar" data-toggle="modal" data-target="#staticBackdrop">Ver acessos</button>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Acessos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modalContent" style="overflow-wrap: break-word;">
          <h5 id="title"></h5>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Staff</label>
          </div>
          <br>
          <ul class="list-group" id="groups"></ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" onclick="updatePermissions()" data-dismiss="modal">Salvar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>

    $("#searchInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $(".card-users").each(function() {
        var userName = $(this).find("h4").text().toLowerCase();
        if (userName.includes(value)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });

    $(document).ready(function() {
 
      $('#staticBackdrop').on('hidden.bs.modal', function() {
        $('#groups').empty();
      });
  
      $('.btn-fechar').on('click', async function() {
        var userId = $(this).closest('.card-users').data('id');
        
        try {
          const response = await fetch(`/get_groups/?id=${userId}`);
          const data = await response.json();
          
          var groups = document.getElementById('groups');
          groups.classList.add(`${data.user.id}`) 

          var title = document.getElementById('title');
          var switch_staff = document.getElementById('customCheck1')
          switch_staff.checked = data.user.is_staff

          groups.innerHTML = '';
          title.innerHTML = `Grupos que usuário ${data.user.username} tem acesso: <br><br>`;
   
          if (data.groups && data.groups.length > 0) {
            data.groups.forEach(group => {
              $('#groups').append(`
                <li class="list-group-item">
                  <input class="form-check-input me-1 groupUserPermission" type="checkbox" id="${group.id} ${data.user.id}" checked>
                  <label class="form-check-label" for="groupCheckbox${group.id}">${group.name}</label>
                </li>`
              );
            });
          } else {
            $('#groups').append('<li class="list-group-item">Nenhum grupo encontrado.</li>');
          }
         
          
         
        } catch (error) {
          console.error('Erro ao buscar dados do usuário:', error);
          $('#groups').append('<li class="list-group-item">Erro ao buscar dados.</li>');
        }

        $('#staticBackdrop').modal('show');
      });
    });

    async function updatePermissions() {
      const permissions = document.querySelectorAll(".groupUserPermission");
      var classes = document.getElementById('groups').className.split(' ')
      let id = classes[1]
      let per = [];


      permissions.forEach(permission => {
        const ids = permission.id.split(' ');  
        const groupId = ids[0];               
        const userId = ids[1];  
        if(!permission.checked){
          per.push({
            user: userId,
            group: groupId,
          });
        }

        
      });

      const data = {
        "is_staff": document.getElementById('customCheck1').checked,
        "permissions": per,
        "id": id
      }

      try {
        const response = await fetch('/update-user-groups/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        });

        const result = await response.json();
        showMessage(result.message, 3000);
      
      } catch (error) {
        showMessage('Erro ao atualizar permissões', 3000);
      }
    }

    {% comment %} async function updateLevel(){
      const input = document.querySelectorAll('.form-check-input')[0];
      const user_id = input.id.split(" ")[1];

      const data = {
        "id": user_id
      };

      try {
        const response = await fetch('../update-level-user/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        });

        const result = await response.json();
        showMessage(result.message, 3000);
      
      } catch (error) {
        showMessage('Erro ao atualizar nível do usuário', 3000);
      }
    } {% endcomment %}

    const showMessage = (msg, duration) => {
      const message = document.getElementById('message');
      message.innerHTML = msg;
      message.style.display = 'flex';
      
      setTimeout(() => {
        message.style.display = 'none';
      }, duration);
    }
  </script>
{% endblock %}
