

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
    
        <!-- Navbar toggle button (hamburguer icon) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Itens da Navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'initial_page' %}">Empresas</a>
                    </li>
                {%endif%}
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'permissions' %}">Permissões</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "management" %}">Controle de acesso</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated%}
                    <li class="nav-item">
                        <a class="nav-link" href="#"> {{user}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
